body {
    margin: 0;
    padding: 0;
}

.home {
    min-height: 100vh;
	color: #fff;
}

.background-content {
    background-image: url('/assets/background.jpg');
    min-height: 100vh;
}

.content-background {
    background-color: #fff;
    opacity: 0.8;
}

.home .background-image {
    position: absolute;
    background-image: url('/assets/background.jpg');
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

.home .background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.5;
}

.home .home-content-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Open Sans';
    height: 80vh;
    justify-content: center;
    font-size: 25px;
}

.drag-1 {
    position: absolute;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 0.75em;
}

.drag-wall-horizontal {
    width: 100px;
    height: 50px;
    min-width: 50px;
    background-color: #29e;
    border-radius: 0.75em;
}

.drag-wall-vertical {
    width: 50px;
    height: 100px;
    min-height: 50px;
    background-color: #29e;
    border-radius: 0.75em;
}

.drag-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ffff00;
    z-index: 1;
}

.playground {
    position: relative;
    width: 700px;
    height: 700px;
    background-color: #808080;
    /* Center in the container */
    left: -6px;
    right: 0;
    margin: auto;
}

.items-list {
    display: none;
    width: 90px;
}

.editScriptArea {
    height: 10em;
    width: 30em;
}

.show-control-buttons {
    height: 80px;
    transform: scale(1);
    transform-origin: 0 0;

    transition: all 300ms 0s ease-in-out;
}

.hide-control-buttons {
    height: 0;
    visibility: hidden;
    transform: scale(0);
    transform-origin: 0 0;

    transition: all 300ms 0s ease-in-out;
}

/* @media all and (orientation:portrait) and (min-width: 700px) {
    .playground {
        display: block;
    }

    .items-list {
        display: none;
    }
} */

@media all and (max-width: 600px) {
    .playground {
        display: none;
    }

    .items-list {
        display: block;
    }

    .editScriptArea {
        width: 20em;
    }
}

@media all and (min-width: 600px) {
    .playground {
        display: block;
    }

    .items-list {
        display: none;
    }
}

/* https://github.com/taye/interact.js/issues/137 */
@media all and (min-width: 601px) and (max-width: 768px) {
    .playground {
        display: block;
        transform: scale(0.75, 0.75);
        transform-origin: 0 top;
    }

    .items-list {
        display: none;
    }
}

/* Fix for mobile devices */
.playground,
.playground * {
  -ms-touch-action: none;
  touch-action: none;
}