.home-content {
    text-align: center;
}

.main-context {
    top: 88px;
    position: relative;
}

.drag-1 {
    position: absolute;
    user-select: none;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    border-radius: 0.75em;
}

.drag-wall-horizontal {
    width: 100px;
    height: 50px;
    min-width: 50px;
    background-color: #29e;
    border-radius: 0.75em;
}

.drag-wall-vertical {
    width: 50px;
    height: 100px;
    min-height: 50px;
    background-color: #29e;
    border-radius: 0.75em;
}

.drag-element {
    width: 25px;
    height: 25px;
    background-color: #ffff00;
    z-index: 1;
}

.playground {
    width: 700px;
    height: 700px;
    background-color: #556b2f;
}

/* https://github.com/taye/interact.js/issues/137 */
@media all and (min-width: 321px) and (max-width: 700px) {
    .playground {
        transform: scale(0.5, 0.5);
        transform-origin: left top;
    }
}

@media all and (max-width: 320px) {
    .playground {
        transform: scale(0.4, 0.4);
        transform-origin: left top;
    }
}

/* Fix for Chrome mobile simulator */
.playground,
.playground * {
  -ms-touch-action: none;
  touch-action: none;
}